.container_background {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 27, 1);
  .container_blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
  }
  .noises {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../../../../public/img/149154.jpg);
    background-size: 200%;
    background-repeat: repeat;
    opacity: 50%;
    mix-blend-mode: multiply;
  }
}
