.section_card_list {
  margin: 0px clamp(10px, 12vw, 300px);
  padding-top: 100px;
  .container_card_list {
    .container_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title_text {
        text-transform: capitalize;
      }
      .btn_show_more {
        padding: clamp(3px, 2vw, 5px) clamp(15px, 2vw, 20px);
        border: 1.5px solid rgba(255, 255, 255, 0.111);
        border-radius: 12px;
        background-color: rgba(24, 24, 27, 0.619);
        backdrop-filter: blur(10px);
      }
    }
    .container_cards {
      display: grid;
  
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)) ;
      gap: clamp(15px, 3vw, 25px);
      margin-top: 25px;
    }
  }
}
@media (max-width: 1280px) {
  .section_card_list {
    margin: 0px clamp(10px, 8vw, 300px);
  }
}
@media (max-width: 960px) {
  .section_card_list {
    margin: 0px 20px;
  }
}
@media (max-width: 580px) {
  .section_card_list {
    margin: 0px 10px;
  }
}
