.section_card_list {
  margin: 0px 352px;
  padding-top: 100px;
  .container_card_list {
    .container_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn_show_more {
        padding: 5px 20px;
        border: 1.5px solid rgba(255, 255, 255, 0.111);
        border-radius: 12px;
        background-color: rgba(24, 24, 27, 0.619);
        backdrop-filter: blur(10px);
      }
    }
    .container_cards {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 25px;
    }
  }
}
