.container_info_page {
  z-index: 2;
  display: flex;
  flex-direction: column;

  .info_source_btn {
  }
  .info_page {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  h1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .container_info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(5px, 1.5vw, 25px);
    .genres {
      h3 {
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        &::after {
          content: ",";
        }
        &:last-child {
          &::after {
            content: none;
          }
        }
      }
    }

    .container_item_info_page {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: clamp(5px, 1.5vw, 10px);
    }
    .rating {
      display: flex;
      align-items: center;
      img {
        margin-top: -4.5%;
        width: clamp(20px, 3vw, 30px);
      }
    }
    .line {
      width: 2px;
      height: clamp(15px, 3vw, 30px);
      background-color: white;
    }
  }
  .p_text_description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 850px;
    font-size: clamp(15px, 2vw, 24px);
    font-weight: 500;
    margin-top: clamp(10px, 2.5vw, 30px);
  }
}
