.container_rating {
  width: fit-content;
  border-radius: 5px;
  backdrop-filter: contrast(0.5);
  .container_text_rating {
    padding: 1px 4px;
    border: 1px solid rgba(255, 255, 255, 0.592);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.468);
  }
  .text_rating {
    text-wrap: nowrap;
  }
}
