header {
  z-index: 5;
  position: absolute;
  width: 100%;
  left: 1.1px;
  height: fit-content;
  .content_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 0px clamp(10px, 12vw, 300px);
    margin-top: 35px;
    padding: 15px clamp(15px, 4vw, 45px);
    border: 1.5px solid rgba(255, 255, 255, 0.111);
    border-radius: 12px;
    background-color: rgba(24, 24, 27, 0.619);
    backdrop-filter: blur(10px);
  }
  .container_header_nav,
  .container_burger_nav {
    display: flex;
    align-items: center;
    gap: clamp(10px, 2vw, 45px);
    h5 {
      font-size: clamp(13px, 1.5vw, 20px);
    }
    .container_input_search {
      position: relative;
      display: flex;
      align-items: center;

      input {
        font-size: 16px;
        width: clamp(100px, 10vw, 180px);
        padding: 8px 20px;
        outline: none;
        border: 1.5px solid rgba(255, 255, 255, 0.101);
        border-radius: 8px;
        background-color: rgba(104, 104, 104, 0.63);
        padding-right: 35px;
        &::placeholder {
          font-size: 16px;
          color: white;
        }
      }
      .btn_search {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px;
        background-color: transparent;
      }
    }
  }
  .container_burger_menu_btn {
    display: none;
    button {
      display: flex;
      align-items: center;
      padding: 0;
      border: none;
      background-color: transparent;
      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
      }
    }
  }
  .container_burger_menu {
    display: none;
    justify-content: end;
    margin: 0px 10px;
    .container_burger_nav {
      overflow: hidden;
      flex-direction: column;
      align-items: start;
      width: fit-content;
      opacity: 0%;
      padding: clamp(20px, 1.2vw, 15px) clamp(15px, 3.5vw, 45px);
      gap: 12px;
      border: 1.5px solid rgba(255, 255, 255, 0.111);
      border-top: none;
      border-radius: 0px 0px 12px 12px;
      background-color: rgba(24, 24, 27, 0.619);
      backdrop-filter: blur(10px);
      .container_input_search {
        input {
          font-size: clamp(12px, 2vw, 20px);
          font-weight: 500;
          width: 180px;
          padding: 4px 10px;
          padding-right: 15px;
          &::placeholder {
            font-size: clamp(12px, 2vw, 20px);
            font-weight: 500;
          }
        }
        .btn_search {
          right: 12px;
        }
      }
    }
  }
  .no_anim {
    display: none;
  }
  .open {
    animation: burger_open 0.5s ease forwards;
  }
  .close {
    animation: burger_close 1s ease forwards;
  }
  .open_content {
    transition: border-radius 0.2s ease;
    border-radius: 12px 12px 0px 12px;
  }
  .close_content {
    transition: border-radius 0.2s ease;
    transition-delay: 0.5s;
    border-radius: 12px 12px 12px 12px;
  }
}
@media (max-width: 1280px) {
  header {
    .content_header {
      margin: 0px clamp(10px, 8vw, 300px);
      margin-top: 35px;
    }
  }
}
@media (max-width: 960px) {
  header {
    .content_header {
      margin: 0px 20px;
      margin-top: 20px;
      padding: clamp(10px, 1.2vw, 15px) clamp(12px, 3.5vw, 45px);
    }
    .container_header_nav,
    .container_burger_nav {
      .container_input_search {
        input {
          padding: 5px 15px;
          padding-right: 25px;
        }
      }
    }
    .container_header_nav {
      display: none;
    }
    .container_burger_menu_btn {
      display: block;
    }
    .container_burger_menu {
      display: flex;
    }
  }
}
@media (max-width: 580px) {
  header {
    .content_header {
      margin: 0px 10px;
      margin-top: 10px;
    }
  }
}
@keyframes burger_open {
  0% {
    display: flex;
    max-width: 0px;
    max-height: 0px;
    opacity: 0%;
  }
  100% {
    opacity: 100%;
    max-width: 250px;
    max-height: 150px;
  }
}
@keyframes burger_close {
  0% {
    opacity: 100%;
    max-width: 250px;
    max-height: 150px;
  }
  100% {
    opacity: 0%;
    max-width: 0px;
    max-height: 0px;
    display: none;
  }
}
