.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1.5px solid rgba(255, 255, 255, 0.22);
  border-radius: 12px;
  background-color: rgba(24, 24, 27, 0.619);
  backdrop-filter: blur(10px);
  .container_rating {
    padding: 1px 4px;
    border: 1px solid rgba(255, 255, 255, 0.592);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    .text_rating {
      font-size: 12px;
      text-wrap: nowrap;
    }
  }
  .container_text {
    display: flex;
    flex-direction: column;
    padding: 12px 12px;
    gap: 2px;
    .container_flex_text {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
    }
    .container_genre {
      align-items: start;
      flex-wrap: wrap;
      padding: 2px 0px;
      gap: 5px;
      height: 2.4em;
      .genre {
        font-size: 11px;
        word-wrap: break-word;
        padding: 0px 5px;
        color: rgb(146, 146, 146);
        border-radius: 5px;
        background-color: rgb(70, 70, 70);
      }
    }
    .name_rating {
      overflow: hidden;
      justify-content: space-between;
      align-items: start;
      word-break: break-word;
      width: 100%;
      height: 200%;
      .text_name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-width: 100%;
        line-height: 18px; /* Высота одной строки */
        height: 2.3em;
        word-wrap: break-word;
      }
    }
  }

  .container_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
