footer {
  margin: 0px clamp(10px, 12vw, 300px);
  padding-top: 150px;
  .container_footer {
    display: flex;
    align-items: start;
    justify-content: space-between;
    align-items: stretch;
    padding: 15px 45px;
    border: 1px solid white;
    border: 1.5px solid rgba(255, 255, 255, 0.111);
    border-radius: 12px;
    background-color: rgba(24, 24, 27, 0.619);
    backdrop-filter: blur(10px);
    .container_column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 5px;
      .container_flex {
        display: flex;
        gap: clamp(10px, 2vw, 15px);
      }
      .links {
        justify-content: right;
        a {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            width: clamp(15px, 3vw, 18px);
            height: clamp(15px, 3vw, 18px);
            object-fit: contain;
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  footer {
    margin: 0px clamp(10px, 8vw, 300px);
    padding-top: 150px;
  }
}
@media (max-width: 960px) {
  footer {
    margin: 0px 20px;
    padding-top: 150px;
    .container_footer {
      padding: clamp(10px, 1.2vw, 15px) clamp(12px, 3.5vw, 45px);
    }
  }
}
@media (max-width: 580px) {
  footer {
    margin: 0px 10px;
    padding-top: 150px;
  }
}
