.container_banner_nav_load {
  margin-bottom: 30px;
  .container_btn {
    .loading {
      max-width: 50px;
      width: 100%;
      height: clamp(30px, 8vw, 50px);
    }
  }
  .container_state_img_page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    gap: 8px;
    .loading {
      max-width: 150px;
      width: 100%;
      height: clamp(100px, 26vw, 220px);
    }
  }
  .loading {
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: rgb(51, 51, 51);
    border: 1.5px solid rgba(255, 255, 255, 0.091);
    border-radius: 8px;
    animation: animation_appearance 1s ease-in-out forwards;
    .glow {
      width: 60%;
      height: 220%;
      background-color: rgb(77, 77, 77);
      box-shadow: 0px 0px 25px 40px rgb(77, 77, 77);
      transform: translateX(-300%);
      animation: animation_load_elem 5s ease-in infinite;
    }
  }
}
@keyframes animation_load_elem {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(2400%);
  }
}
