.section_form {
  display: flex;
  justify-content: center;
  padding-top: clamp(100px, 25vw, 150px);
  margin: 0px clamp(10px, 12vw, 300px);
  form {
    min-width: 50%;
    margin-top: 35px;
    padding: 45px 45px;
    border: 1.5px solid rgba(255, 255, 255, 0.111);
    border-radius: 12px;
    background-color: rgba(24, 24, 27, 0.619);
    backdrop-filter: blur(10px);
    .title {
      text-align: center;
    }
    .container_input {
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      gap: 30px;
      label {
        display: flex;
        flex-direction: column;
        gap: 3px;
        h6 {
          color: red;
        }
      }
      input,
      button {
        outline: none;
        padding: 8px 15px;
        font-size: 18px;
        border: 1.5px solid rgba(255, 255, 255, 0.111);
        border-radius: 12px;
        backdrop-filter: blur(10px);
        background-color: rgba(24, 24, 27, 0.619);
      }
      button {
        background-color: white;

        h5 {
          font-weight: 600;
          color: black;
        }
      }
    }
    .container_link {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 30px;
      gap: 10px;
      button {
        padding: 12px 25px;
      }
    }
  }
}
