.section_movies_info {
  padding-top: clamp(100px, 25vw, 150px);
  margin: 0px clamp(10px, 12vw, 300px);
  .main_container_info,
  .main_container_info_loading {
    display: flex;
    padding: 45px 45px;
    gap: clamp(15px, 5vw, 80px);
    border: 1.5px solid rgba(255, 255, 255, 0.22);
    border-radius: 12px;
    background-color: rgba(24, 24, 27, 0.619);
    backdrop-filter: blur(10px);
    .container_img {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .img_poster {
        object-fit: cover;
        width: clamp(220px, 40vw, 320px);
        height: fit-content;
        border: 1.5px solid rgba(255, 255, 255, 0.22);
        border-radius: 12px;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        iframe {
          width: clamp(220px, 40vw, 320px);
          aspect-ratio: 16/12;
          border: 1.5px solid rgba(255, 255, 255, 0.22);
          border-radius: 12px;
        }
      }
    }

    .container_flex_info {
      display: flex;
      align-items: center;
      gap: clamp(10px, 2vw, 15px);
    }
    .container_info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .container_gallery {
        margin-top: clamp(10px, 2vw, 15px);
        display: flex;
        flex-direction: column;
        gap: 20px;
        .container_img {
          max-width: 700px;
          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            border: 1.5px solid rgba(255, 255, 255, 0.22);
            border-radius: 12px;
          }
        }
      }
      .container_flex_title {
        display: flex;
        justify-content: space-between;
        align-items: start;
        .container_title {
          display: flex;
          flex-direction: column;
          gap: 10px;
          img {
            object-fit: contain;
            object-position: left;
            width: 100%;
            height: 110px;
          }
          &:nth-child(2) {
            align-items: center;
          }
          .container_btn {
            display: flex;
            align-items: center;
            gap: 30px;
            button {
              display: flex;
              align-items: center;
              gap: 10px;
              padding: 5px 15px;
              border: none;
              border-radius: 8px;
              img {
                width: 25px;
                height: 22px;
                object-fit: contain;
              }
              h5 {
                color: black;
              }
            }
          }
        }
      }
      .container_text_info {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin-top: 10px;
        gap: clamp(0px, 0.5vw, 5px);
        margin-top: clamp(10px, 2vw, 15px);
        span {
          font-weight: 300;
          padding-right: 10px;
        }
        .title_actors {
          margin-top: clamp(10px, 2vw, 15px);
        }
        .container_overview {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-top: clamp(10px, 2vw, 15px);
          p {
            font-size: clamp(13px, 2vw, 20px);
            font-weight: 300;
          }
        }

        .container_actors {
          overflow-y: hidden;
          overflow-x: scroll;
          display: flex;
          margin-top: 2px;
          padding: 20px 0px;
          padding-top: 0;
          gap: 30px;
          .actors_card {
            display: flex;
            flex-direction: column;
            gap: 5px;
            img {
              object-fit: cover;
              width: 150px;
              height: 200px;
              border-radius: 12px;
            }
            h5 {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              max-width: 100%;
              line-height: 18px;
              height: 1em;
              word-wrap: break-word;
            }
            h6 {
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              max-width: 100%;
              line-height: 18px;
              height: 1em;
              word-wrap: break-word;
            }
          }
          &::-webkit-scrollbar {
            height: 10px;
            background-color: #f5f5f500;
          }
          &::-webkit-scrollbar-track {
            border: 1.5px solid rgba(255, 255, 255, 0.22);
            border-radius: 12px;
          }
          &::-webkit-scrollbar-thumb {
            border: 1.5px solid rgba(255, 255, 255, 0.22);
            border-radius: 12px;
            background-color: rgba(24, 24, 27, 0.619);
            backdrop-filter: blur(10px);
          }
        }
      }
    }
  }
  .main_container_info_loading {
    .img_poster {
      min-width: clamp(220px, 40vw, 280px);
      border: none;
      aspect-ratio: 9/12;
    }
    .container_info {
      display: flex;
      flex-direction: column;
      gap: clamp(5px, 2vw, 10px);
    }
    .title {
      width: 55%;
      height: clamp(40px, 3vw, 60px);
    }
    .main_info {
      width: 35%;
      height: 22px;
    }
    .img_poster,
    .title,
    .main_info {
      overflow: hidden;
      display: flex;
      align-items: center;
      border-radius: 4px;
      background-color: rgb(51, 51, 51);
      .glow {
        width: 60%;
        height: 220%;
        background-color: rgb(77, 77, 77);
        box-shadow: 0px 0px 25px 40px rgb(77, 77, 77);
        transform: translateX(-400%);
        animation: animation_load_elem 5s ease-in infinite;
      }
    }
    .container_info {
      .container_text_info {
        gap: clamp(5px, 2vw, 10px);
        div {
          height: 22px;
          overflow: hidden;
          display: flex;
          align-items: center;
          border-radius: 4px;
          background-color: rgb(51, 51, 51);
          .glow {
            width: 60%;
            height: 220%;
            background-color: rgb(77, 77, 77);
            box-shadow: 0px 0px 25px 40px rgb(77, 77, 77);
            transform: translateX(-400%);
            animation: animation_load_elem 5s ease-in infinite;
          }
          &:nth-child(1) {
            width: 30%;
          }
          &:nth-child(2) {
            width: 25%;
          }
          &:nth-child(3) {
            width: 40%;
          }
          &:nth-child(4) {
            width: 55%;
          }
          &:nth-child(5) {
            width: 55%;
            height: 40px;
          }
          &:nth-child(6) {
            width: 55%;
          }
          &:nth-child(7) {
            width: 55%;
          }
          &:nth-child(8) {
            width: 55%;
          }
          &:nth-child(9) {
            width: 100%;
            height: 40px;
          }
          &:nth-child(10) {
            width: 100%;
            height: 80px;
          }
        }
      }
    }
  }
}
@media (max-width: 1280px) {
  .section_movies_info {
    margin: 0px clamp(10px, 8vw, 300px);
  }
}
@media (max-width: 960px) {
  .section_movies_info {
    margin: 0px 20px;
    .main_container_info,
    .main_container_info_loading {
      padding: clamp(30px, 3.5vw, 45px) clamp(10px, 3.5vw, 45px);
    }
  }
}
@media (max-width: 720px) {
  .section_movies_info {
    .main_container_info,
    .main_container_info_loading {
      flex-direction: column;
      align-items: center;
    }
  }
}
@media (max-width: 580px) {
  .section_movies_info {
    margin: 0px 10px;
  }
}
@keyframes animation_load_elem {
  0% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(2400%);
  }
}
